@import "../../scss/mixins.scss";
@import "../../scss/variables.scss";

.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: space-around;
  column-gap: 1px;
  
  section {
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);

    a {
      width: 100%;
    }

    button {
      width: 100%;
      border-radius: 3px;
      border: 0px;
      font-size: 12.8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 5px;
      background-color: rgb(225 225 225 / 80%);

      &:focus {
        outline: none;
      }

      img {
        width: 22px;
      }
    }
  }

  @include responsive(sm){
    width: $--body-width;
    margin: $--body-margin;
  }
}

.buttonActive {
  background-color: white !important;
}