@import "@/scss/variables.scss";

.menu {
  display: flex;
  border: 1px solid $--light-gray;
  border-bottom: none;
  padding: 10px 12px;
  gap: 0px 7px;
  cursor: pointer;

  &:last-child {
    border-bottom: 1px solid $--light-gray;
  }

  &__img {
    width: 16px;
  }

  &__title {
    color: rgb(34, 34, 34);
    font-size: 0.85rem;
  }
}