.search {
  display: grid;
  grid-template-areas: 
    "text"
    "list";

  &__input {
    display: grid;
    grid-template-areas: 
      "input btn";
    grid-template-columns: 1fr auto;
    border: 1px solid rgb(230, 230, 230);

    input {
      grid-area: input;
      border: 0px;
      padding: 10px 20px;
    }

    button {
      grid-area: btn;
      border: 0px;
      padding: 10px 20px;

      &:active{
        background-color: rgba(243, 243, 243, 0.2);
        box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
        position: relative;
        top:1px;
      }

      img{
        width: 18px;
      }
    }
  }
}