
/* layout */
$--header-height: 60px;
$--body-width: 480px;
$--body-margin: 0 0 0 16%;
$--body-margin-bottom: 30px;
$--footer-height: 60px;

$--main-color: rgb(240, 175, 118);
$--main-color_strong: rgb(244, 142, 54);
$--loading-color: #828282;