
/* layout */
$--header-height: 60px;
$--body-width: 480px;
$--body-margin: 0 0 0 16%;
$--body-margin-bottom: 30px;
$--footer-height: 60px;

$--main-color: rgb(240, 175, 118);
$--main-color_strong: rgb(244, 142, 54);
$--loading-color: #828282;

$--gray: rgb(220, 220, 220);
$--light-gray: rgb(240, 240, 240);
$--lighter-gray: rgb(247, 247, 247);


$--z-index--map: 1;
$--z-index--mapButton: 2;
$--z-index--markerDetail: 3;

/* map */
$--button-width: 40px;
$--button-light-gray: rgb(225, 225, 225);